<ons-page ng-controller="LoginCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="route.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">{{vm.menuTitle}}</div>
    </ons-toolbar>
    <div class="login-form">
        <input type="email" class="text-input--underbar" ng-model="vm.loginInfo.UserName" placeholder="email" value="">
        <input type="password" class="text-input--underbar" ng-model="vm.loginInfo.Password" placeholder="password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="vm.login()">SignIn</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password" ng-click="route.setMainPage('Views/Pages/Register.html', {closeMenu: true})">Register</ons-button>
    </div>
</ons-page>