<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.2.25" targetFramework="win" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="2.1.2" targetFramework="win" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="win" />
  <package id="jQuery" version="2.1.1" targetFramework="win" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.3.9" targetFramework="win" />
</packages>